<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATEHj40kvbn6ZStOn5qsBZV4MpfQnwSbE</string>
	<key>GCM_SENDER_ID</key>
	<string>694067816559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.PrimeChat</string>
	<key>PROJECT_ID</key>
	<string>primechat-9a005</string>
	<key>STORAGE_BUCKET</key>
	<string>primechat-9a005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694067816559:ios:aec3d6ba3e504b5220c59a</string>
</dict>
</plist>